<div class="container" style="width: 100%; margin-top: 5%;">
	<table id="comments" class="table table-striped" style="width: inherit">
		<thead>
			<tr>
				<th></th>
				<th>Content</th>
				<th>User</th>
				<th>Store</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% @comments = Comment.all %>
			<% @comments.each do |comment| %>
			<% commentUser = User.find(comment.user_id) %>
			<% store = Store.find(comment.store_id) %>
			<tr>
				<td></td>
				<td><%= comment.content %></td>
				<td><%= commentUser.email %></td>
				<td><%= store.name %></td>
				<% if commentUser.id == current_user.id %>
				<td align="center"> <%= link_to(edit_comment_path(comment), 'data-target' => "#myCommentModal}",
				'data-toggle' => 'modal') do  %> <i class="fa fa-pencil fa-2x center"></i> <% end %> </td>
				<div class="modal fade" id='<%= "myCommentModal" %>' tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel" align="left">Edit Comment</h4>
							</div>
							<% @comment = Comment.find(comment.id) %>
							<%= form_for @comment do |f| %>
							<div class="modal-body">
								<%= render partial: 'comments/edit', :locals => { f: f } %>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<%= f.submit "Save Comment", class: "btn btn-primary" %>
							</div>
							<% end %>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				<td align="center"> <%= link_to(@comment, method: :delete, data: {confirm: 'Are you sure?'}) do  %> <i class="fa fa-trash fa-2x center"></i> <% end %> </td>
				<% else %>
				<td><strong>Created On: </strong> <%= comment.created_at.strftime("%b. %d, %Y") %> </td>
				<td><strong>Last Modified: </strong> <%= comment.updated_at.strftime("%b. %d, %Y") %> </td>
				<% end %>
			</tr>
			<% end %>

		</tbody>

	</table>
</div>
<script>
	$(document).ready(function() {
		var t = $('#comments').DataTable({
			"columnDefs" : [{
				"searchable" : false,
				"orderable" : false,
				"targets" : 0
			}],
			"order" : [[1, 'asc']]
		});

		t.on('order.dt search.dt', function() {
			t.column(0, {
				search : 'applied',
				order : 'applied'
			}).nodes().each(function(cell, i) {
				cell.innerHTML = i + 1;
			});
		}).draw();
	}); 
</script>
